
.tx-abbooking-pi1 .theYears td {
	font-family: arial;
	font-size: 14pt;
	color: black;
}
.tx-abbooking-pi1 .theYears td.selected {
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
	color: blue;
}

.tx-abbooking-pi1 .listlegend td {
	font-family: arial;
	font-size: 14px;
	border: 2px solid #666666;
	width: 14px;
	text-align: center;
}
.tx-abbooking-pi1 .listlegend td.legend {
	 border: 0px;
	 width: 100px;
	 text-align: left;
}
.tx-abbooking-pi1 .availabilityCalendar td.ABmonth {
	vertical-align: top;
}
.tx-abbooking-pi1 .availabilityCalendar .ABcalendar td {
	font-family: arial;
	font-size: 14px;
	width: 14px;
	text-align: center;
}

.tx-abbooking-pi1 .availabilityCalendar td.noDay {
	font-family: arial;
	font-size: 14px;
	border: 0px;
	width: 14px;
	text-align: center;

}

.tx-abbooking-pi1 td.Day {
/*  	background-color: #fff; */
	border: 2px solid #ccc;
}
.tx-abbooking-pi1 td.Weekend {
/* 	background-color: #c6c6c6; */
	border: 2px solid #333;
}
.tx-abbooking-pi1 td.booked {
/* 	border: 2px solid #d30000; */
	text-decoration: line-through;
	background-color: #ff8383;
}
.tx-abbooking-pi1 td.overBookedDay {
	background-color: #FF0000;
}

.tx-abbooking-pi1 td.vacant {
/* 	border: 2px solid #008000; */
 	background-color: #9ddb17;
}

.tx-abbooking-pi1 td.Start {
	border-right: 2px solid #d30000;
	border-bottom: 2px solid #d30000;
	border-left: 2px solid #008000;
	border-top: 2px solid #008000;
	text-decoration: line-through;
}

.tx-abbooking-pi1 td.End {
	border-right: 2px solid #008000;
	border-bottom: 2px solid #008000;
	border-left: 2px solid #d30000;
	border-top: 2px solid #008000;
	text-decoration: none;
}
.tx-abbooking-pi1 td.DayTitle {
	font-weight: bold;
}

.tx-abbooking-pi1 .availabilityCalendar td.legend {
	width: 120px;
	font-family: arial;
	font-size: 14px;
	border: 0px;
	text-align: left;
}
.tx-abbooking-pi1 .availabilityCalendar .ABmonthname {
	background-color: #e0e0e0;
	border: 0px;
}

input {
	border: 1px solid #aa0000;
}

input.error {
	border: 3px solid #aa0000;
	background-color: #fffa79;
}

input.readonly {
 	border: 0px solid #aa0000;
	background-color: #ffffff;
}

input.edit {
	margin: 5px;
	padding: 1px;
	border: 2px solid #aa0000;
	background-color: #fffa79;
	font-size: 12px;
}

input.submit_final {
	margin: 5px;
	padding: 5px;
 	border: 2px solid #17a500;
	font-size: 16px;
	background-color: #a3fd84f;
}

input.submit {
	margin: 5px;
	padding: 5px;
	border: 2px solid #17a500;
	font-size: 16px;
	background-color: #a3fd84f;
}

.tx-abbooking-pi1 div.offer {
	padding: 5px;
}

.tx-abbooking-pi1 div.offer p.offer {
	font-size: 120%;
	font-weight: bold;
}

.tx-abbooking-pi1 div.offer ul li {
	list-style-type: none;
	margin: 5px 0 5px 0;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
